# AWS Cognito (User Pools)
# Your AWS region code, e.g. us-east-1, ap-south-1
COGNITO_REGION=ap-south-1
# The Cognito User Pool ID, e.g. ap-south-1_abCdEfG12
COGNITO_USER_POOL_ID=ap-south-1_qSwU0I0Jm
# The App client ID from your User Pool, e.g. 1h57kf5cpq17m0eml12EXAMPLE
COGNITO_APP_CLIENT_ID=69r9eq564ba1if1neb3690c1vb
# The App client secret (required for sign-up/sign-in operations with SECRET_HASH)
COGNITO_APP_CLIENT_SECRET=o2rgiarb4pp92mdoko0avlhfb4am0tms9hbh76dg3bek72mlp8
# Which token type your API expects: access (recommended) or id
COGNITO_TOKEN_USE=access
